[submodule "tickstack/tickdocker/tickstack/tickdocker/TICK-docker"]
	path = tickstack/tickdocker/tickstack/tickdocker/TICK-docker
	url = https://github.com/influxdata/TICK-docker
[submodule "tickstack/tickdocker/tick-DOCKER"]
	path = tickstack/tickdocker/tick-DOCKER
	url = https://github.com/influxdata/TICK-docker
[submodule "elk/elasticsearch-tutorial"]
	path = elk/elasticsearch-tutorial
	url = https://github.com/BuildingXwithJS/elasticsearch-tutorial.git
[submodule "gitlab/docker-gitlab"]
	path = gitlab/docker-gitlab
	url = https://github.com/sameersbn/docker-gitlab.git
